// 创建按钮
// 大小: (1+内容长度) x 1.5em
@mixin ui_btn(
    $bg: rgb(213, 204, 204),
    $border:None,
    $mark_pos: None,
) {
    padding: 0.35em;
    margin: 0.1em 0.25em;
    border: solid 0.05em transparent;
    border-radius: 0.3em;
    font-size: 0.9em;
    line-height: 1em;
    min-width: 4.5em;
    text-align: center;
    font-weight: 400;
    user-select: none;

    @if $border != None {
        border: solid .1em $border;
    }

    &:not([disabled]):hover{
        background-color: $bg;
    }

    &:not([disabled]):focus{
        border-color: rgb(137,148,205);

        @if $border != None {
            border-color: transparent;
        }
    }

    &[disabled]{
        pointer-events: none;
        opacity: .6;
    }

    @if $mark_pos != None {
        position: relative;
    }
}

@mixin ui_round_btn(
    $scale: 1,
    $bg: rgb(213, 204, 204),
){
    padding: .35em;
    border-radius: 2em;
    width: 1em * $scale;
    height: 1em * $scale;

    &:hover{
        background-color: $bg;
    }
}

@mixin ui_btn-group(
    $bg: rgb(43 94 233 / 24%),
    $border:None,
    $mark_pos: None,
){
    display: flex;
    gap: .35rem;
    padding: .35rem .5rem;

    > *{
        flex-shrink: 0;
    }

    > button{
        @include ui_btn($bg,$border,$mark_pos);
    }
    
    > .gap{
        flex-grow: 1;
    }
}