&[data-level]{
    position: relative;

    &::before{
        content: '';

        background-image: url('/icon/question.webp');
        background-repeat: no-repeat;
        background-size: cover;
        width: 3rem;
        height: 3rem;
    }

}
&[data-level=info]::before{
    background-image: url('/icon/info.webp');
}

&[data-level=warn]::before{
    background-image: url('/icon/warning.webp');
}

&[data-level=error]::before{
    background-image: url('/icon/error.webp');
}