
// 标准的下拉菜单框
// 可以用于右键菜单等
@mixin ui_menu(
    $offset_left:0,
    $offset_top:2em,
    $backdrop: rgba(255, 255, 255, .6),
    $hover: rgba(201, 199, 199, 0.5)
) {
    --kbd-color: rgb(126, 118, 118);
    --width: 12rem;

    padding: .125em 0;
    border-radius: .25em;
    box-shadow: 0.1em 0.2em 0.5em rgb(83, 77, 77, .45);
    background-color: $backdrop;
    backdrop-filter: blur(1rem);

    position: absolute;
    left: $offset_left;
    top: $offset_top;
    z-index: 10;
    width: var(--width);

    >div {
        padding: 0.375em;
        font-weight: normal;
        border-radius: 0.2em;
        margin: 0.125em 0.25em;
        position: relative;

        display: flex;
        align-items: center;

        cursor: pointer;

        transition: all .2s;

        >.icon {
            width: 1.25em;
            height: 1.25em;
            margin: 0 .5em;
            flex-shrink: 0;
        }

        >.text {
            text-overflow: clip;
            text-align: start;

            flex-grow: 1;
            line-height: 1.25em;
            min-width: 8em;
        }

        > .keyboard {
            min-width: 5em;
            font-size: .8em;
            font-weight: 400;
            color: var(--kbd-color);
            overflow: hidden;
        }

        >.child{
            transform: translateX(100%);
        }

        &:hover,&:focus{
            background-color: $hover;
        }

        &:focus >.child{
            display: block;
        }
    }

    >span{
        margin: .25rem;
        height: .1rem;
        display: block;
        background-color: rgba(206, 191, 191, 0.2);
    }
}
